.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Pure screen ka center */
  background: white; /* Page ke background ke hisaab se */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Sab ke upar */
}
.loading-containercenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Pure screen ka center */
 
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #4cafef;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
